.presentation {
  display: flex;
  justify-content: center;
  padding-inline: 12px;
  overflow: hidden;

  @include on-tablet {
    padding-inline: 34px;
  }

  &__image {
    background-size: cover;
    min-width: 320px;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;
      transform: scale(1.04);
    }
  }
}
