.technology {
  @include main-class;

  @include on-tablet {
    flex-direction: row-reverse;
  }

  &__title {
    @include title;

    margin-bottom: 20px;
    font-size: 36px;
    line-height: 46px;

    @include on-desktop {
      font-size: 56px;
      line-height: 70px;
    }

    &--mobile {
      @include title-mobile;
    }

    &--tablet {
      @include title-tablet;
    }
  }

  &__image-box {
    @include image-box;
  }

  &__image {
    @include image;
  }

  &__block {
    @include block;

    @include on-tablet {
      margin: 0 0 0 34px;
    }

    @include on-desktop {
      margin: 0;
    }
  }

  &__text {
    @include text;

    font-size: 16px;
    line-height: 24px;
  }

  &__link {
    @include link;
  }
}
