%h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  text-transform: uppercase;

  @include on-tablet {
    font-size: 48px;
    line-height: 62px;
  }

  @include on-desktop {
    font-size: 62px;
    line-height: 78px;
  }
}

%h2 {
  @extend %h1;

  font-size: 30px;
  line-height: 40px;

  @include on-tablet {
    font-size: 36px;
    line-height: 46px;
  }

  @include on-desktop {
    font-size: 56px;
    line-height: 70px;
  }
}

%h3 {
  @extend %h1;

  font-size: 18px;
  line-height: 22px;

  @include on-tablet {
    font-size: 24px;
    line-height: 30px;
  }

  @include on-desktop {
    font-size: 34px;
    line-height: 42px;
  }
}

%h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
}

%h5 {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

%h6 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}

%quote {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;

  @include on-tablet {
    font-size: 24px;
    line-height: 36px;
  }
}

%main-text {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

%secondary-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

%thirdary-text {
  @extend %secondary-text;

  text-transform: uppercase;
}

%button {
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  text-transform: uppercase;
}

%swiper-hover-btn {
  fill: var(--gren4);
  transform: scale(0.85);
}
