@property --angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

$green-1: #0db2b3;
$green-2: #cfeff0;
$green-3: #eefafa;
$gray-1: #4f4f4f;
$gray-2: #7c7c7c;
$gray-3: #bdbdbd;
$gray-4: #d0d0d0;
$almost-white: #f7f7f7;
$form-border: #828282;
$tablet-min-width: 768px;
$desktop-min-width: 1440px;
